{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="form-container">

    <!-- Add this line to display your logo -->
    <img src="{{ url_for('static', filename='CloneMe-export.gif') }}" alt="CloneMe Logo" style="display: block; margin: 0 auto 20px auto; max-width: 80%;">

    <h2>Join {{ app_name }}</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <label>
            {{ form.username.label }}
            {{ form.username(class="form-input", placeholder="Enter your username") }}
        </label>
        <label>
            {{ form.password.label }}
            {{ form.password(class="form-input", placeholder="Enter your password") }}
        </label>
        {{ form.submit(class="form-submit") }}
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
</div>
{% endblock %}
